body{
  background-color: rgb(49, 49, 49);
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}


.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content:flex-start;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 10px ;
  width: 90%;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid rgb(146, 144, 144);
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.item:hover {
  background-color: gray;
}